# Object

In [3]:
a = 'hello'
b = 'hello'
c =  5
print(id(a))
print(id(b))
print(id(c))

2209424786520
2209424786520
1672589664

In [4]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'int'>

In [5]:
b = c
print(id(b))
print(type(b))

1672589664
<class 'int'>

# Arithmetic Operators

In [6]:
a = 5
b = 3

sum_num = a + b
sub_num = a - b
mul_num = a * b
div_num = a / b
mod_num = a % b
exp_num = a ** b
int_div_num = a // b

print('a + b = {}'.format(sum_num))
print('a - b = {}'.format(sub_num))
print('a * b = {}'.format(mul_num))
print('a / b = {}'.format(div_num))
print('a % b = {}'.format(mod_num))
print('a ** b = {}'.format(exp_num))
print('a // b = {}'.format(int_div_num))

a + b = 8
a - b = 2
a * b = 15
a / b = 1.6666666666666667
a % b = 2
a ** b = 125
a // b = 1

# Comparison Operators

In [9]:
a = 5
b = 3

print((a == b))
print((a != b))
print((a > b))
print((a < b))
print((a >= b))
print((a <= b))

False
True
True
False
True
False

# Assignment Operators

In [10]:
a = 5

a = a + 3 # a+=3
print(a)
a = a -5
print(a)
a = a * 2
print(a)
a = a / 2
print(a)

8
3
6
3.0

# Logical Operators

In [12]:
a = True
b = False
print(a and b)

False

In [13]:
print(a or b)

True

In [14]:
print(not a)

False

# Membership Operators

In [18]:
a = 5
b = [1, 2, 3, 5, 6]
print(a in b)

True

In [19]:
print(a not in b)

False

# Identity Operators

In [15]:
print(a is b)

False

In [16]:
print(a is not b)

True

# Bitwise Operators

In [1]:
a = 10 # 1010
b = 4 # 0100
print(a & b)
print(a | b)
print(a ^ b)

0
14
14

In [26]:
a = 10
print(a >> 2)
print(a << 2)

2
40

# Integer, float, complex

In [29]:
a = 5
b = 3.1
c = 3.0
d = 1+2j
f = 3.1232e3
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(f))

print(a)
print(b)
print(c)
print(d)
print(f)

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'float'>
5
3.1
3.0
(1+2j)
3123.2

# Boolean

In [30]:
print(5 > 3)
print(5 != 3)
print(5 < 3)

True
True
False

# String

In [33]:
## this is a string
a = 'hello'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print('============')
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

h
e
l
l
o
============
o
l
l
e

In [34]:
print(a[2:])

llo

In [35]:
print(a[2::2])

lo

In [36]:
print(a * 2)

hellohello

In [37]:
b = 'isaac'
print(a+' '+b)

hello isaac

In [40]:
print(len(a))

5

In [43]:
empty_string = '' 
my_string = 'Hello, I am Isaac!'
print(my_string.lower())
print(my_string.upper())
print(my_string.replace(' ','@'))
print(my_string.split(' '))

hello, i am isaac!
HELLO, I AM ISAAC!
Hello,@I@am@Isaac!
['Hello,', 'I', 'am', 'Isaac!']

In [45]:
my_string = 'Hello, I am Isaac!\n'
print(my_string)
print(my_string.strip())

Hello, I am Isaac!

Hello, I am Isaac!

# List

In [46]:
## this is a list
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
print(a[0])
print(a[1])
print(a[-1])

apple
10.4
(1-3j)

In [47]:
empty_list = [] # empty_list = list()
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
print(a + b)

['apple', 10.4, (1-3j), 1, 3, -2, 8, 9, -10]

In [56]:
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
b.append(20)
print(b)
b.remove(3)
print(b)
b.pop()
print(b)
b.insert(1, 100)
print(b)
b.reverse()
print(b)
b.sort()
print(b)
print(b.count(-2))

[1, 3, -2, 8, 9, -10, 20]
[1, -2, 8, 9, -10, 20]
[1, -2, 8, 9, -10]
[1, 100, -2, 8, 9, -10]
[-10, 9, 8, -2, 100, 1]
[-10, -2, 1, 8, 9, 100]
1

# Tuple

In [2]:
# this is a tuple
a = ('1', '2', '3')
print(a[0])
print(a.count('1'))

1
1

# Set

In [60]:
a = {1, 2 ,3 ,4}
b = {1,3 ,5 ,7, 9}
print(a & b)
print(a | b)

{1, 3}
{1, 2, 3, 4, 5, 7, 9}

# Dictionary

In [61]:
a = {'isaac':100, 'judy':60, 'Andy':80}
print(a['isaac'])

100

In [67]:
print(a.values())

dict_values([100, 60, 80])

In [68]:
print(a.keys())

dict_keys(['isaac', 'judy', 'Andy'])

# Casting

In [73]:
my_string = '1000'
print(type(my_string))
my_float = float(my_string)
print(type(my_float))
my_list = list(my_string)
print(type(my_list))

print(my_string)
print(my_float)
print(my_list)

<class 'str'>
<class 'float'>
<class 'list'>
1000
1000.0
['1', '0', '0', '0']

In [1]:
my_string = 'beautiful'
print(my_string[2:5])

aut

In [2]:
print(my_string[:5])

beaut

In [3]:
print(my_string[2:])

autiful

In [4]:
print(my_string[2::2])

atfl